@media screen and (max-width: 1110px) {
    .container{
        transition: all 0.5s;
        padding: 0px 5% 1px 5%;
    }
}

@media screen and (max-width: 989px) {
    .container{
        transition: all 0.5s;
        padding: 0px 5% 1px 5%;
    }

    /* Here making 1 section resposive that is intro section */
    
    .logo img{
        display: initial;
    }

    .menu .options{
        display: none;
    }

    .mobile-menu{
        display: initial;
    }

    .intro{
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 53px 0px;
    }

    .intro-image {
        display: none;
    }

    .intro-start {
        font-size: 1.3rem;
    }

    .author-name {
        font-size: 2.1rem;
    }

    .designation {
        font-size: 1.2rem;
    }

    .intro .social-media{
        flex-direction: column;
    }

    .lets-talk-button{
        display: inline-flex;
        width: 128px;
        height: 54px;
    }

    .intro .social-media #social a{
        font-size: 1.7rem;
    }

    /* intro section style ends */

    /* Here style of project section start's */

    .portfolio-heading{
        padding: 90px 0px 0px 0px;
    }

    .portfolio-heading h1{
        font-size: 2.1rem;
    }

    .portfolio-heading p{

    }

    #projects .project-buttons{
        padding: 39px 0px;
        font-size: 0.9rem;
    }

    .project-btn{
        padding: 17px 20px;
        text-align: center;
    }

    /* here style of project section end's */
}