:root {
    --common-color: #ffffff;
    --logo-font-color: #08c391;
    --primary-font-color: #08c391;
    --primary-bg-1: hsl(214, 18%, 16%);
    --primary-bg-2: #171c23;
    --read-more-viewer-bg: 33, 39, 47;
    --active-theme: "none";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

a{
    text-decoration: none;
    color: var(--common-color);
}

/* Here some somman elements */

.container{
    padding: 0px 10% 1px 10%;
}

.primary{
    color: rgba(var(--primary-font-color), 255);
}

.button {
    font-weight: 500;
    position: relative;
    background-color: rgba(var(--primary-font-color), 255);
    color: var(--common-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    background-color: var(--common-color);
    width: 110%;
    height: 450%;
    border-radius: 0%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.button:hover::before {
    transition: all 0.5s;
    transform: translate(0%, 0%);

}

.button:hover {
    color: var(--primary-bg-1);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
}

/* introduction style start from here */

#introduction{
    background-color: var(--primary-bg-1);
    color: var(--common-color);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px;
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--logo-font-color);
}

.menu .options{
    display: flex;
    gap: 60px;
    font-weight: 500;
}

.intro{
    display: flex;
    gap: 30px;
    padding: 109px 0px;
}

.intro-start{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.author-name{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.author-name span{
    display: inline-block;
    transition: 1s ease-out;
}

.author-name span:hover{
    transition: 0.05s ease-in;
    transform: scale(1.2, 1.2);
    text-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
}

.designation{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 33px;
}

.description{
    margin-bottom: 45px;
}

#author-image{
    width: 411px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255));

}

.lets-talk-button{
    /* background-color: rgba(var(--primary-font-color), 255); */
    width: 154px;
    height: 65px;
    border-radius: 12px;
    margin-bottom: 70px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media p{
    margin-left: 7px;
    font-size: 1.1rem;
}

#social{
    display: flex;
    gap: 20px;
}

#social a{
    font-size: 2.5rem;
    color: rgba(var(--primary-font-color), 255);
    transition: all 0.2s ease-in-out;
}

#social a:hover{
    transform: scale(1.2, 1.2);
}


/* Services Style Start From Here */
#services {
    background-color: var(--primary-bg-2);
    color: var(--common-color);
}

.services-heading{
    padding-top: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-heading p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.services-heading h1{
    font-size: 3rem;
}

.services-cards{
    position: relative;
    width: 100%;
}

.services-carousel{
    display: flex;
    gap: 30px;
    margin: 80px 0px;
    padding-bottom: 105px;
    overflow: hidden;
}

.services-carousel-buttons{
    display: flex;
    gap: 20px;
}

.services-carousel-button{
    font-size: 1.1rem;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.services-cards a:nth-child(2){
    left: 0px;
}

.services-cards a:nth-child(3) {
    right: 0px;
}

/* Style For card */

.card{
    width: 315px;
    background-color: var(--primary-bg-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 38px 27px;
    gap: 14px;
    border-radius: 13px;
    transition: 1s ease-out;
}

.card:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
}

.card-icon{
    font-size: 4rem;
}

.card-description{
    font-size: 0.9rem;
    font-weight: 400;
}

/* My Portfolio Styles Start From Here This Section will show all my project and work */

#projects{
    background-color: var(--primary-bg-1);
    padding-bottom: 80px;
}

.portfolio-heading{
    color: var(--common-color);
    padding: 105px 0px 0px 0px;
    text-align: center;
}

.portfolio-heading h1{
    font-size: 3rem;
    padding-bottom: 8px;
}

.portfolio-heading p{
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.project-buttons{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.project-btn{
    padding: 19px 58px;
    background-color: var(--primary-bg-2);
}

.project-active-btn{
    background-color: rgba(var(--primary-font-color), 255);
}

.project-active-btn::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--primary-bg-1);
    position: absolute;
    rotate: 135deg;
    top: 100%;
    left: 50%;
    transform: translateY(20%);
}

.project-active-btn:hover::after{
    background-color:rgba(var(--primary-font-color), 255);
}


.project-button-container > div:nth-child(1){
    border-radius: 8px 0px 0px 8px;
}

.project-button-container > div:nth-child(3){
    border-radius: 0px 8px 8px 0px;
}

/* Here project card styles start's */

/* stack widget style and it's pages*/
.stack-widget-container{
    padding: 45px 0px 45px 0px;
}

.stack-widget-content-page{
    display: flex;
    padding: 0px 0px 65px 0px;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

.stack-widget-content-navigators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stack-widget-content-navigator{
    padding: 0px 23px;
    height: 50px;
    border-radius: 8px;
}

.stack-widget-navigator-active{
    color: var(--primary-bg-1);
}

.stack-widget-navigator-active::before{
    background-color: var(--common-color);
    transform: translate(0%, 0%);
}

/* Style of Project Start's Here */

/* Project Card Start Here*/

/* Project Card Container Sttyle Start Here */

.projectCard{
    width: 400px;
    min-height: 395px;
    background-color: var(--primary-bg-2);
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px 25px;
    color: var(--common-color);
    gap: 14px;
    justify-content: space-around;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all 1s;
}

.projectCardSlideEffact::before {
    content: "";
    position: absolute;
    background-color: var(--common-color);
    width: 110%;
    height: 450%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.projectCardSlideEffact:hover::before {
    transition: all 0.5s;
    transform: translate(-10%, -5%);

}

.projectCardSlideEffact:hover {
    color: var(--primary-bg-1);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
    transform: scale(1.03, 1.03);
}

.projectCardSlideEffact a{
    color: var(--common-color);
    transition: all 1s;
}

.projectCardSlideEffact:hover a{
    color: var(--primary-bg-1);
    transition: all 0.5s;
}

/* Project Card Container Sttyle End Here */

.projectCardHead{
    display: flex;
    gap: 16px;
    align-items: center;
}

.projectCardHead .projectCardLogo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* background-color: var(--common-color); */
    /* padding: 7px; */
    border-radius: 100%;
}

.projectCardHead .heading{
    display: flex;
    flex-direction: column;
    gap: 3px;
}   

.projectCardHead .heading h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.projectCardHead .heading p{
    font-size: 0.8rem;
    font-weight: 300;
}

.proejctCardBody{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proejctCardBody .shortDescription{
    font-size: 0.9rem;
    font-weight: 300;
}

.proejctCardBody .projectThumbnail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proejctCardBody .projectThumbnail .projectThumbnailImage{
    width: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 15px;
}

.proejctCardBody .projectThumbnail .projectThumbnailType{
    position: absolute;
    display: flex;
    background: var(--common-color);
    color: var(--primary-bg-2);
    left: 10px;
    bottom: 10px;
    width: 28px;
    height: 28px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.proejctCardBody .projectThumbnail .videoPlayButton{
    position: absolute;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    background-color: rgba(var(--primary-font-color), 70%);
    border-radius: 100%;
}

.proejctCardBody .projectThumbnail .videoPlayButton i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectCardFooter{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0px 2px;
}

.projectCardFooter .projectTech{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.projectCardFooter .projectTech i{
    font-size: 1.4rem;
}

.projectCardFooter .projectCardReadMoreButton{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 3px 13px;
    border-radius: 5px;
    cursor: pointer;
}


/* Style of Project Card End Here */

/* Here style sheet of ReadMore Viewer Start's that will to more content about you project. */

.readMorePadding {
    padding: 0px 10% 1px 10%;
}

.readMoreViewer{
    display: none;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    width: 96%;
    height: 96%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: var(--common-color);
    border-radius: 13px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 2px solid var(--common-color); */
    overflow: hidden;
    max-width: 1200px;
    box-shadow: 0px 0px 28px rgba(var(--primary-font-color), 255);
    transition: all 1s;
    /* opacity: 0; */
}

.readMoreViewerCloseButtonContainer {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 2;
}

.readMoreViewerCloseButton {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);
}

.readMoreScrollContainer{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.readMoreScrollContainer::-webkit-scrollbar {
    display: none;
}

.readMoreViewerPage{
    width: 100%;
    position: relative;
    z-index: 1;
}

.readMoreViewerCloseButton:hover::before{
    transition: all 0.5s;
    transform: translate(0%, 0%);
}

.featureImage {
    width: 100%;
    position: relative;
}

#readMoreFeatureImage{
    width: 100%;
    height: 450px;
    object-fit: cover;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    -webkit-mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.readMoreFeatureImageText{
    position: absolute;
    bottom: 26px;
}

.readMoreViewerPage .dateTime{
    display: inline-flex;
    background-color: rgba(var(--primary-font-color), 95%);
    padding: 7px 18px;
    border-radius: 4px;
    width: initial;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}

.readMoreViewerPage .dateTime div{
    background-color: var(--common-color);
    border-radius: 2px;
    margin-right: 17px;
    color: var(--primary-bg-1);
    padding: 4px 23px;
    font-size: 0.7rem;
    font-weight: 600;
}

/* ReadMore More Viewer Content Elements styles */

.readMoreViewerPage .readMoreContent h2{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h3{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h4{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage h1 span,
h2 span,
h3 span,
h4 span {
    color: rgba(var(--primary-font-color), 100%);
}

.readMoreContent p span{
    background-color: rgba(var(--primary-font-color), 100%);
    color: var(--common-color);
    padding: 0px 7px;
    border-radius: 2px;
}

.readMorePadding .image{
    background-color: rgba(var(--primary-font-color), 100%);
    margin-top: 30px;
    border-radius: 14px;
}

.readMorePadding .image img{
    width: 100%;
    object-fit: cover;
    /* height: 379px; */
    border-radius: 14px;
}

.readMorePadding .image p{
    padding: 9px 18px 17px 18px;
    font-size: 0.9rem;
}

.codeSnippet{
    border-radius: 13px;
    overflow: hidden;
    margin-top: 30px;
}

.codeSnippet .text{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 13px 30px;
}

.codeSnippet pre{
    background-color: var(--primary-bg-2);
    padding: 30px 30px;
}

.readMoreFooter{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 15px 48px;
    margin-top: 30px;
    text-align: center;
    color: var(--common-color);
}

/* Style  of image Viwer Start From here */

.imageViewer {
    display: none;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: var(--common-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    /* opacity: 0; */
}

.imageViewerCloseButtonConatiner{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
}

.imageViewerCloseButton{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);
}

.imageViewer .imageContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    position: relative; */
}

.imageViewer .imageContainer .slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageViewer .imageContainer .slide .text{
    position: absolute;
    background-color: rgba(var(--primary-font-color), 30%);
    bottom: 5%;
    max-width: 80%;
    padding: 10px 37px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid var(--common-color);
    text-align: center;
}

.imageViewer .imageContainer .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageViewerLeftRightButtons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 30%; */
    z-index: 1;
}

.leftButtonContainer{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
}

.leftButtonContainer:hover .leftButton{
    opacity: 1;
}

.rightButtonConatiner{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.rightButtonConatiner:hover .rightButton{
    opacity: 1;
}

.leftButton, .rightButton{
    opacity: 1;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 30%);
}

.leftButton{
    margin-left: 5%;
}

.rightButton{
    margin-right: 5%;
}

/* Style  of image Viwer End's here */

/* VideoViewer Style Sheet Start From here */

.videoViewer {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: var(--common-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    display: none;
    justify-content: center;
    align-items: center;
}

.videoViewer .video{
    width: 1280px;
    height: 720px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 2px solid var(--common-color);
    background-color: var(--common-color); */
}