/* 

:root {
    --common-color: #ffffff;
    --logo-font-color: #08c391;
    --primary-font-color: #08c391;
    --primary-bg-1: #212830;
    --primary-bg-2: #171c23;
    --read-more-viewer-bg: 33, 39, 47;
    --active-theme: "none";
}

*/
/* 
:root{
    logo-font-color: #292d3e;
    primary-font-color: rgb(235, 69, 95);
    primary-bg-1:  #ffffff;
    primary-bg-2:  #e4e7e7;
    common-color: #292d3e;
    read-more-viewer-bg : rgb(255, 255, 255);
} */

:root {
    --common-color: #ffffff;
    --logo-font-color: #08c391;
    --primary-font-color: #08c391;
    --primary-bg-1: #212830;
    --primary-bg-2: #171c23;
    --read-more-viewer-bg: 33, 39, 47;
    --active-theme: "none";
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

a{
    text-decoration: none;
    color: rgba(var(--common-color), 100%);
}

/* Here some somman elements */

.container{
    transition: all 0.5s;
    padding: 0px 10% 1px 10%;
}

.primary{
    color: rgba(var(--primary-font-color), 255);
}

.button {
    font-weight: 500;
    position: relative;
    background-color: rgba(var(--primary-font-color), 255);
    color: rgba(var(--common-color), 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    background-color: rgba(var(--common-color), 100%);
    width: 110%;
    height: 450%;
    border-radius: 0%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.button:hover::before {
    transition: all 0.5s;
    transform: translate(0%, 0%);

}

.button:hover {
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
}

main{
    overflow: hidden;
}

/* common style for image carsoule percent is based */

.imageCarouselLeftRightButtons {
    position: absolute;
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    /* gap: 30%; */
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.imageCarouselLeftButtonContainer {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
}

.imageCarouselLeftButtonContainer:hover .imageCarouselLeftButton {
    transition: all 0.5s;
    opacity: 1;
}

.imageCarouselRightButtonConatiner {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.imageCarouselRightButtonConatiner:hover .imageCarouselRightButton {
    transition: all 0.5s;
    opacity: 1;
}

.imageCarouselLeftButton,
.imageCarouselRightButton {
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 30%);
}

.imageCarouselLeftButton {
    margin-left: 5%;
}

.imageCarouselRightButton {
    margin-right: 5%;
}

/* introduction style start from here */

/* here style for loader start's */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 3;
}

.loader .progressBar{
    width: 30%;
    height: 100%;
    background-color: rgba(var(--primary-font-color), 100%);
    /* background-color: linear-gradient(90deg, #08c391 94%, #08c39100 100%); */
    position: relative;
    transition: all 1s;
}

.loader .progressBar .progressBarDot{
    position: absolute;
    width: 0px;
    height: 5px;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 26px 18px rgba(var(--primary-font-color), 100%);
}

/* here style for loader end's */

/* (floating-menu) here style of floating menu start's */

.floating-menu{
    top: 117px;
    right: -7px;
    width: 41px;
    height: 39px;
    border-radius: 8px;
    backdrop-filter: blur(11px);
    border: 1px solid #ffffff3b;
    position: fixed;
    background-color: rgb(40 42 55 / 49%);
    box-shadow: 14px 9px 53px 3px rgb(0 0 0 / 29%);
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    --float-menu-active-height: 419px;
    --float-menu-right-space: 36px;
    --animation-duration: 0.5s;
    animation-name: menu-inactive;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes  menu-inactive {
    0% {
        right: var(--float-menu-right-space);
        width: 61px;
        height: var(--float-menu-active-height);
    }
    75% {
        right: var(--float-menu-right-space);
        width: 61px;
        height: 39px;
    }
    100% {
        right: -7px;
        width: 41px;
        height: 39px;
    }
}

.floating-menu-active{
    animation-name: menu-active;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes menu-active {
    0%{
        right: -7px;
        width: 41px;
        height: 39px;
    }
    25%{
        right: var(--float-menu-right-space);
        width: 61px;
        height: 39px;
    }
    100%{
        right: var(--float-menu-right-space);
        width: 61px;
        height: var(--float-menu-active-height);
    }
}

.floating-menu .floating-menu-close-button i:nth-child(2) {
    animation-name: icon-show;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu-active .floating-menu-close-button i:nth-child(2) {
    animation-name: icon-hide;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu .floating-menu-close-button i:nth-child(1) {
    animation-name: icon-hide;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

.floating-menu-active .floating-menu-close-button i:nth-child(1){
    animation-name: icon-show;
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-direction: alternate;
}

@keyframes icon-show {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes icon-hide {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.floating-menu-header{
    font-size: 1.2rem;
    color: #727272;
    background-color: #0000004d;
    cursor: pointer;
    width: 100%;
    
}

.floating-menu-close-button{
    text-align: center;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.floating-menu-close-button i{
    position: absolute;
}

.floating-menu-body {
    width: 100%;
    margin-top: 12px;
}

.floating-menu .gap{
    height: 1px;
    background-color: #ffffff63;
    margin: 19px 9px;
    width: -webkit-fill-available;
}

.floating-menu-button{
    color: white;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
}

.fmb-active{
    color: #08c391;
}

.fmb-active::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 63%;
    width: 3px;
    background-color: #08c391;
    border-radius: 4px;
    box-shadow: 1px 0px 15px 2px #08c391;
}

.floating-menu-link{
    color: white;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
}

.floating-menu-footer{
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.floating-menu-footer img{
    width: 30px;
    object-fit: contain;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #ffffff66;
}
/* here style of floating menu end's */

#introduction{
    overflow: hidden;
    background-color: rgba(var(--primary-bg-1), 100%);
    color: rgba(var(--common-color), 100%);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px;
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(var(--logo-font-color), 100%);
    display: flex;
    gap: 8px;
    align-items: center;
}

.menu .options{
    display: flex;
    gap: 60px;
    font-weight: 500;
}

/* this menu style will be used mobile phones or tabs or anything small size 😊 */

.logo img{
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.mobile-menu {
    display: none;
    position: relative;
}

.mobile-menu-button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    /* background-color: rgba(var(--primary-bg-2), 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--common-color), 100%);
}

.mobile-menu-optins{
    position: fixed;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0%;
    top: 100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.54, 0.27, 0.74, 1.08) 0s;
}

.mobile-menu-optins-close-btn{
    width: 40px;
    height: 40px;
    background-color: rgba(var(--primary-font-color), 40%);
    border-radius: 100%;
    font-size: 1.2rem;
    position: absolute;
    top: 3%;
    right: 4%;
    color: rgba(var(--common-color), 100%);
}

.mobile-menu-optins-head{
    margin-bottom: 27px;
    color: rgba(var(--primary-font-color), 100%);
}

.mobile-menu-optins-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    gap: 15px;
}

.mobile-menu-optins-footer{
    color: rgba(var(--common-color), 100%);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    --footer-background: rgba(var(--primary-font-color), 100%);
    /* padding: 16px; */
}

.mobile-menu-button:hover{

}

/* mobile menu style ends here */

.intro{
    display: flex;
    gap: 30px;
    padding: 109px 0px;
}

.intro-start{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.author-name{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.author-name span{
    display: inline-block;
    transition: 1s ease-out;
}

.author-name span:hover{
    transition: 0.05s ease-in;
    transform: scale(1.2, 1.2);
    text-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
}

.designation{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 33px;
}

.description{
    margin-bottom: 45px;
}

#author-image{
    width: 411px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-4px 27px 24px rgba(var(--primary-font-color), 255));

}

.lets-talk-button{
    /* background-color: rgba(var(--primary-font-color), 255); */
    width: 154px;
    height: 58px;
    border-radius: 12px;
    margin-bottom: 70px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-media p{
    margin-left: 7px;
    font-size: 1.1rem;
}

#social{
    display: flex;
    gap: 20px;
}

#social a{
    font-size: 2.5rem;
    color: rgba(var(--primary-font-color), 255);
    transition: all 0.2s ease-in-out;
}

#social a:hover{
    transform: scale(1.2, 1.2);
}


/* Skill Section Style Start From Here */

.skills{
    background-color: rgba(var(--primary-bg-2), 100%);
    padding-bottom: 76px;
}

.skills-heading {
    color: rgba(var(--common-color), 100%);
    padding: 105px 0px 0px 0px;
    text-align: center;
}

.skills-heading h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.skills-heading p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.skillsContainer{
    position: relative;
    margin: 44px 0px 63px 0px;
    /* display: flex;
    justify-content: center;
    gap: 45px; */
}

.skillContainerButtons{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skillsRightButton, .skillsLeftButton{
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border-radius: 100%;
}

.skillCardsContainer{
    overflow: hidden;
}

.skillCard {
    height: 140px;
    width: 140px;
    position: relative;
    background: #020438;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff5e;
    background-color: rgb(23, 28, 35);
    transition: all 1s;
    z-index: 0;
}

.skillCard .content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 1.1rem;
    gap: 10px;
    font-weight: 500;
}

.skillCard .content .percentage {
    font-size: 0.5rem;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(23, 28, 35);
    border-radius: 0% 0% 0% 18%;
    box-shadow: 1px 1px 6px white;
}

.skillCard .content p {
    margin: 0px;
}

.skillCard .content img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    object-position: center;
}

.skillCard .content i {
    font-size: 2.5rem;
}

.skillCard .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: rgb(8, 195, 145);
    transition: all 0.3s;
}

.skillCard .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}

.skillCard .water_wave_back {
    right: 0;
    fill: rgb(8 195 145 / 63%);
    -webkit-animation: wave-back 2s infinite linear;
    animation: wave-back 2s infinite linear;
}

.skillCard .water_wave_front {
    left: 0;
    fill: rgb(8, 195, 145);
    margin-bottom: -1px;
    -webkit-animation: wave-front 1.5s infinite linear;
    animation: wave-front 1.5s infinite linear;
}

@-webkit-keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
    }
}

@-webkit-keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
    }
}

/* Skill Section Style End'sHere */


/* (about-me) about section style start' here */

.about-me{
    /* display: none; */
    background-color: rgba(var(--primary-bg-2), 100%);
}

.about-me-heading {
    color: rgba(var(--common-color), 100%);
    padding: 121px 0px 0px 0px;
    text-align: center;
}

.about-me-text h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.about-me-text p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.about-me-tags{
    display: flex;
    gap: 21px 10px;
    justify-content: center;
    padding: 40px 0px 64px 0px;
    flex-wrap: wrap;
}

.about-me-tags p{
    /* background-color: rgba(var(--primary-font-color), 100%); */
    background: linear-gradient(33deg, rgba(var(--primary-bg-1), 100%), rgba(var(--primary-font-color), 70%));
    padding: 4px 22px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.about-me-tags p i{
    color: gold;
    margin: 0px 8px;
}

.about-me-services-heading{
    color: rgba(var(--common-color), 100%);
    text-align: center;
    margin-top: 16px;
}

.about-me-services-heading i{
    margin-right: 11px;
}

.about-me-cards{
    display: flex;
    gap: 43px;
    justify-content: center;
    padding: 49px 0px 136px 0px;
    flex-wrap: wrap;
}

.about-me-cards .card{
    transform: scale(1);
    background: linear-gradient(33deg, rgba(var(--primary-bg-1), 100%), rgba(var(--primary-font-color), 70%));
}

.about-me-cards .card:hover{
    transform: scale(1.02);
}

/* about section style ends' here */


/* Services Style Start From Here */
#services {
    display: none;
    background-color: rgba(var(--primary-bg-2), 100%);
    color: rgba(var(--common-color), 100%);
}

.services-heading{
    padding-top: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-heading p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.services-heading h1{
    font-size: 3rem;
}

.services-cards{
    position: relative;
    width: 100%;
}

.services-carousel{
    display: flex;
    gap: 30px;
    margin: 80px 0px;
    padding-bottom: 105px;
    overflow: hidden;
}

.services-carousel-buttons{
    display: flex;
    gap: 20px;
}

.services-carousel-button{
    font-size: 1.1rem;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.services-cards a:nth-child(2){
    left: 0px;
}

.services-cards a:nth-child(3) {
    right: 0px;
}

/* Style For card */

.card{
    width: 315px;
    background-color: rgba(var(--primary-bg-1), 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 38px 27px;
    gap: 14px;
    border-radius: 13px;
    transition: 1s ease-out;
}

.card:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 32px rgba(var(--primary-font-color), 255);
}

.card-icon{
    font-size: 4rem;
}

.card-description{
    font-size: 0.9rem;
    font-weight: 400;
}

/* My Portfolio Styles Start From Here This Section will show all my project and work */

#projects{
    background-color: rgba(var(--primary-bg-1), 100%);
    padding-bottom: 80px;
}

.portfolio-heading{
    color: rgba(var(--common-color), 100%);
    padding: 105px 0px 0px 0px;
    text-align: center;
}

.portfolio-heading h1{
    font-size: 3rem;
    padding-bottom: 8px;
}

.portfolio-heading p{
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.project-buttons{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.project-btn{
    padding: 19px 58px;
    background-color: rgba(var(--primary-bg-2), 100%);
}

.project-active-btn{
    background-color: rgba(var(--primary-font-color), 255);
}

.project-active-btn::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(var(--primary-bg-1), 100%);
    position: absolute;
    rotate: 135deg;
    top: 100%;
    left: 50%;
    transform: translateY(20%);
}

.project-active-btn:hover::after{
    background-color:rgba(var(--primary-font-color), 255);
}


.project-button-container > div:nth-child(1){
    border-radius: 8px 0px 0px 8px;
}

.project-button-container > div:nth-child(3){
    border-radius: 0px 8px 8px 0px;
}

/* Here project card styles start's */

/* stack widget style and it's pages*/
.stack-widget-container{
    padding: 45px 0px 45px 0px;
}

.stack-widget-content-page{
    display: flex;
    padding: 0px 0px 65px 0px;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

.stack-widget-content-navigators{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stack-widget-content-navigator{
    padding: 0px 23px;
    height: 50px;
    border-radius: 8px;
}

.stack-widget-navigator-active{
    color: rgba(var(--primary-bg-1), 100%);
}

.stack-widget-navigator-active::before{
    background-color: rgba(var(--common-color), 100%);
    transform: translate(0%, 0%);
}

/* Style of Project Start's Here */

/* Project Card Start Here*/

/* Project Card Container Sttyle Start Here */

.projectCard{
    width: 400px;
    min-height: 395px;
    background-color: rgba(var(--primary-bg-2), 100%);
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px 25px;
    color: rgba(var(--common-color), 100%);
    gap: 14px;
    justify-content: space-around;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: all 1s;
}

.projectCardSlideEffact::before {
    content: "";
    position: absolute;
    background-color: rgba(var(--common-color), 100%);
    width: 110%;
    height: 450%;
    transform: translate(-100%, 50%);
    transition: all 0.5s;
    border-radius: 100%;
    z-index: -1;
}

.projectCardSlideEffact:hover::before {
    transition: all 0.5s;
    transform: translate(-10%, -5%);

}

.projectCardSlideEffact:hover {
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
    box-shadow: 10px 10px 32px rgba(var(--primary-font-color), 255);
    transform: scale(1.03, 1.03);
}

.projectCardSlideEffact a{
    color: rgba(var(--common-color), 100%);
    transition: all 1s;
}

.projectCardSlideEffact:hover a{
    color: rgba(var(--primary-bg-1), 100%);
    transition: all 0.5s;
}

/* Project Card Container Sttyle End Here */

.projectCardHead{
    display: flex;
    gap: 16px;
    align-items: center;
}

.projectCardHead .projectCardLogo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* background-color: rgba(var(--common-color), 100%); */
    /* padding: 7px; */
    border-radius: 100%;
}

.projectCardHead .heading{
    display: flex;
    flex-direction: column;
    gap: 3px;
}   

.projectCardHead .heading h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.projectCardHead .heading p{
    font-size: 0.8rem;
    font-weight: 300;
}

.proejctCardBody{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proejctCardBody .shortDescription{
    font-size: 0.9rem;
    font-weight: 300;
}

.proejctCardBody .projectThumbnail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proejctCardBody .projectThumbnail .projectThumbnailImage{
    width: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 15px;
}

.proejctCardBody .projectThumbnail .projectThumbnailType{
    position: absolute;
    display: flex;
    background: rgba(var(--common-color), 100%);
    color: rgba(var(--primary-bg-2), 100%);
    left: 10px;
    bottom: 10px;
    width: 28px;
    height: 28px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.proejctCardBody .projectThumbnail .videoPlayButton{
    position: absolute;
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
    background-color: rgba(var(--primary-font-color), 70%);
    border-radius: 100%;
}

.proejctCardBody .projectThumbnail .videoPlayButton i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectCardFooter{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0px 2px;
}

.projectCardFooter .projectTech{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.projectCardFooter .projectTech i{
    font-size: 1.4rem;
}

.projectCardFooter .projectCardReadMoreButton{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 3px 13px;
    border-radius: 5px;
    cursor: pointer;
}


/* Style of Project Card End Here */

/* Here style sheet of ReadMore Viewer Start's that will to more content about you project. */

.readMorePadding {
    padding: 0px 2rem 0px 2rem;
}

.readMoreViewer{
    display: none;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    color: rgba(var(--common-color), 100%);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
}

/*header style start's from here */

.readMoreHeader{
    background-color: rgb(44, 48, 58);
    display: flex;
    justify-content: space-between;
    min-height: 86px;
    align-items: center;
    padding: 0px 22px 0px 18px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    position: relative;
    z-index: 1;
}

.readMoreHeaderText{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.readMoreHeaderText .projectIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.readMoreHeaderText .projectIcon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.readMoreHeaderText .projectHeading{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.readMoreHeaderText .projectHeading h2{
    font-size: 1.062rem;
    line-height: 99%;
}

.readMoreHeaderText .projectHeading p{
    font-size: 0.938rem;
    font-weight: 400;
}

.readMoreHeaderButtons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.readMoreHeaderButtons .readMoreHeard-btn{
    padding: 21px;
    height: 36px;
    border-radius: 4px;
    background-color: rgb(68, 72, 87);
    font-size: 0.8rem;
}

.readMoreHeaderButtons .readMoreHeard-btn:hover{
    box-shadow: none;
}

/*header style end's here */

/* use technology style sheet start here  */

.usedTechnology{
    background-color: rgb(30, 31, 38);
    padding: 0px 10px;
    position: relative;
}

.usedTechnologyContainer{
    display: flex;
    height: 50px;
    gap: 5px;
    align-items: center;   
}

.usedTechnology .usedTechnologyContainer div{
    background-color: rgb(68, 72, 87);
    text-align: center;
    padding: 7px 16px;
    font-size: 0.813rem;
    border-radius: 3px;
}

.usedTechnology .usedTechnologyContainer div:hover{
    background-color: rgb(64, 68, 82);
}

/* use technology style sheet end here  */

.readMoreViewerCloseButtonContainer {
    position: fixed;
    right: 2%;
    top: 2.5%;
    z-index: 2;
}

.readMoreViewerCloseButton {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);
}

.readMoreScrollContainer{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.readMoreScrollContainer::-webkit-scrollbar {
    display: none;
}

.readMoreViewerPage{
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(44, 48, 58);
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}

.readMoreViewerCloseButton:hover::before{
    transition: all 0.5s;
    transform: translate(0%, 0%);
}

.featureImage {
    width: 100%;
    position: relative;
}

.featureImageContainer{
    position: relative;
    height: 450px;
    border-bottom: 8px solid rgb(90, 95, 115);
}

#readMoreFeatureImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    /* -webkit-mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; */
}

.readMoreContent{
    padding-top: 1.5rem;
}

.readMoreFeatureImageText{
    position: absolute;
    bottom: 26px;
}

.readMoreViewerPage .dateTime{
    display: inline-flex;
    background-color: rgba(var(--primary-font-color), 95%);
    padding: 7px 13px;
    border-radius: 4px;
    width: initial;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}

.readMoreViewerPage .dateTime div{
    background-color: rgba(var(--common-color), 100%);
    border-radius: 2px;
    margin-right: 10px;
    color: rgba(var(--primary-bg-1), 100%);
    padding: 4px 12px;
    font-size: 0.6rem;
    font-weight: 600;
}

.readMoreViewerPage .dateTime p{
    margin: 0;
    font-size: 0.7rem;
}

/* ReadMore More Viewer Content Elements styles */

.readMoreTags{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.readMoreViewerPage .important{
    background-color: rgb(65, 69, 83);
    padding: 2px 10px;
    border-radius: 3px;
    color: white;
    min-height: 26px;
    font-size: 0.703rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readMoreViewerPage .important i{
    font-size: 0.9rem;
    margin-right: 4px;
}

.readMoreViewerPage .link{
    color: rgb(0 255 184);
    cursor: pointer;
}

.readMoreViewerPage .copy-link{
    color: rgb(0 255 184);
    cursor: pointer;
}

.readMoreViewerPage .copy-link:hover, .link:hover{
    background-color: rgb(90, 95, 115);
}

.readMoreViewerPage .tag{
    background-color: rgb(65, 69, 83);
    font-weight: 300;
    padding: 2px 10px;
    border-radius: 15px;
    color: rgb(118, 218, 255);
}

.readMoreViewerPage .margin-top{
    margin-top: 13px;
}

.readMoreViewerPage p{
    font-size: 0.938rem;
}

.readMoreTopic{
    margin-top: 30px;
}

.readMoreViewerPage .readMoreContent h2{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h3{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage .readMoreContent h4{
    margin-top: 30px;
    font-weight: 600;
}

.readMoreViewerPage h1 span,
h2 span,
h3 span,
h4 span {
    color: rgba(var(--primary-font-color), 100%);
}

.readMoreContent p span{
    background-color: rgba(var(--primary-font-color), 100%);
    color: rgba(var(--common-color), 100%);
    padding: 0px 7px;
    border-radius: 2px;
}

.readMorePadding .image{
    background-color: rgba(var(--primary-font-color), 100%);
    margin-top: 30px;
    border-radius: 14px;
}

.readMorePadding .image img{
    width: 100%;
    object-fit: cover;
    /* height: 379px; */
    border-radius: 14px;
}

.readMorePadding .image p{
    padding: 9px 18px 17px 18px;
    font-size: 0.9rem;
    margin: 0;
}

.codeSnippet{
    border-radius: 13px;
    overflow: hidden;
    margin-top: 30px;
}

.codeSnippet .text{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 13px 30px;
    margin: 0;
}

.codeSnippet pre{
    background-color: rgba(var(--primary-bg-2), 100%);
    padding: 30px 30px;
}

.readMoreFooter{
    background-color: rgba(var(--primary-font-color), 100%);
    padding: 15px 48px;
    margin-top: 30px;
    text-align: center;
    color: rgba(var(--common-color), 100%);
}

/* Style  of image Viwer Start From here */

.imageViewer {
    display: none;
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: rgba(var(--common-color), 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    /* opacity: 0; */
}

.imageViewerCloseButtonConatiner{
    position: absolute;
    right: 2%;
    top: 2.5%;
    z-index: 2;
}

.imageViewerCloseButton{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 70%);
}

.imageViewer .imageContainer{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    position: relative; */
}

.imageViewer .imageContainer .slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s;
}

.imageViewer .imageContainer .slide .text{
    position: absolute;
    background-color: rgba(var(--primary-font-color), 30%);
    bottom: 5%;
    max-width: 80%;
    padding: 10px 37px;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(var(--common-color), 100%);
    text-align: center;
}

.imageViewer .imageContainer .slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imageViewerLeftRightButtons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 30%; */
    z-index: 1;
}

.leftButtonContainer{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: start;
}

.leftButtonContainer:hover .leftButton{
    transition: all 0.5s;
    opacity: 1;
}

.rightButtonConatiner{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.rightButtonConatiner:hover .rightButton{
    transition: all 0.5s;
    opacity: 1;
}

.leftButton, .rightButton{
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: rgba(var(--primary-font-color), 30%);
}

.leftButton{
    margin-left: 5%;
}

.rightButton{
    margin-right: 5%;
}

/* Style  of image Viwer End's here */

/* VideoViewer Style Sheet Start From here */

.videoViewer {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(var(--read-more-viewer-bg), 50%);
    color: rgba(var(--common-color), 100%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    transition: all 1s;
    display: none;
    justify-content: center;
    align-items: center;
}

.videoViewer .video{
    width: 1280px;
    height: 720px;
    border-radius: 8px;
    overflow: hidden;
    /* border: 2px solid rgba(var(--common-color), 100%);
    background-color: rgba(var(--common-color), 100%); */
}

/* Here experiences style start's */

.experiences{
    background-color: rgba(var(--primary-bg-1), 100%);
    padding-bottom: 20px;
}

.experiences-heading {
    color: rgba(var(--common-color), 100%);
    padding: 123px 0px 0px 0px;
    text-align: center;
}

.experiences-heading h1 {
    font-size: 3rem;
    padding-bottom: 8px;
}

.experiences-heading p {
    max-width: 60%;
    padding-bottom: 8px;
    margin: auto;
}

.timeline{
    display: flex;
    justify-content: center;
}

.timeline .timelineCards{
    height: 530px;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 662px;
}

/* time card style start here */

.timelineCard{
    width: 300px;
    color: rgba(var(--common-color), 100%);
    position: relative;
    min-width: 300px;
    transition: all 0.5s;
}

.timelineNow{
    width: 130px;
    background-color: rgba(var(--primary-font-color), 100%);
    height: 38px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--common-color), 100%);
    clip-path: polygon(0% 0%, 67% 0%, 79% 47%, 100% 47%, 100% 53%, 79% 53%, 67% 100%, 0% 100%);
    transform: scaleX(-1);
}

.timelineNow p{
    transform: scaleX(-1);
    padding: 1px 1px 1px 30px;
}

.timelineCard:hover{
    transform: scale(1.1, 1.1);
}

.timelineCard .workYear{
    clip-path: polygon(0% 0%, 67% 0%, 79% 47%, 100% 47%, 100% 53%, 79% 53%, 67% 100%, 0% 100%);
    height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(var(--primary-font-color), 100%);
    padding-left: 86px;
}

.timelineCard .timelineContent{
    position: absolute;
    padding: 0px 0px 0px 33px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timelineCard .timelineContentTop{
    top: -35px;
    transform: translateY(-100%);
}

.timelineCard .timelineContentbottom{
    bottom: -35px;
    transform: translateY(100%);
}

.timelineCard .timelineContent .timelineLeftLine{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}   

.timelineCard .timelineContent .timelineLeftLine div{
    width: 2px;
    background-color: rgba(var(--logo-font-color), 100%);
    height: 100%;
}

.timelineCard .timelineContent .timelineLeftLine span{
    background: rgba(var(--logo-font-color), 100%);;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
}

.timelineCard .timelineContent .company{
    display: flex;
    align-items: center;
    gap: 9px;
}

.timelineCard .timelineContent .company .companyLogo img{
    height: 40px;
    object-fit: contain;
}

.timelineCard .timelineContent .company .companyName{
    font-size: 1.5rem;
    font-weight: 600;
}

.timelineCard .timelineContent .workDescription{
    font-size: 0.9rem;
}

/* Here experiences style End's */

/* A message to user style start's from here */

.message{
    background-color: rgba(var(--primary-bg-2), 100%);
}

.message .message-container{
    padding-top: 166px;
    padding-bottom: 216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.message .message-content{
    color: rgba(var(--primary-font-color), 100%);
    font-size: 3.2rem;
    line-height: 176%;
    background: -webkit-linear-gradient(105deg, rgba(var(--primary-font-color), 100%) 32%, rgba(var(--common-color), 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message .message-content img{
    width: 132px;
    object-fit: contain;
}

.message .message-discription{
    color: rgba(var(--common-color), 100%);
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: 200;
}

.message .message-discription .playaudio{
    color: orange;
    font-weight: 500;
    cursor: pointer;
    padding: 0px 10px;
}   

.message .message-discription div{
    display: inline-block;
}

.message .message-button{
    height: 50px;
    width: 200px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 25px;
}

/* A message to user style end's from here */

/* footer style start from here */

.fireEffect {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 1;
    --footer-background: rgba(var(--primary-font-color), 100%);
}

.footer{
    background-color: rgba(var(--primary-font-color), 100%);
}

.footer-content{
    color: rgba(var(--common-color), 100%);
}

.footer-content hr{
    border: none;
    height: 1px;
    background-color: rgba(var(--common-color), 100%);
}

.footer-content .portfoliolinks{
    display: flex;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
    color: rgba(var(--common-color), 100%);
    padding: 74px 0px 48px 0px;
    gap: 43px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content .portfoliolinks .logo, .contact, .quick-links, .other-links{
    max-width: 352px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content .portfoliolinks .quick-links{
    gap: 15px;
}

.footer-content .portfoliolinks .other-links{
    display: flex;
    align-items: end;
}

.footer-content .portfoliolinks .goToTop{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(var(--primary-bg-1), 100%);
}

.footer-content .portfoliolinks .contact p{
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-content .portfoliolinks .contact p i{
    font-size: 1.1rem;
}

.footer-content .portfoliolinks .logo{
    color: rgba(var(--common-color), 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.footer-content .portfoliolinks .logo .img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(0px 0px 9px rgba(var(--primary-font-color), 255));
}

.footer-content .portfoliolinks .logo img{
    display: initial;
}

.footer-content .portfoliolinks .logo p{
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(var(--common-color), 100%);
}

.footer-content .social-links{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 0px;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.footer-content .social-links .links{
    display: flex;
    gap: 19px;
    font-size: 1.3rem;  
}


/* footer style end's here */